.sslider {
  position: relative;
  margin: auto; }
  .sslider .sslider__container {
    height: 100%;
    overflow-x: hidden;
    background-color: #95dad3; }
    .sslider .sslider__container .sslider__base {
      position: relative;
      white-space: nowrap;
      font-size: 0;
      height: 100%;
      overflow: hidden;
      -webkit-transition: left 0.3s ease-in-out;
      -moz-transition: left 0.3s ease-in-out;
      -o-transition: left 0.3s ease-in-out;
      transition: left 0.3s ease-in-out; }
      .sslider .sslider__container .sslider__base .sslider__item {
        display: inline-block;
        position: relative;
        text-align: center;
        font-size: 0;
        height: 100%;
        /* box-sizing: border-box; */
        /* background-color: #666; */ }
        .sslider .sslider__container .sslider__base .sslider__item::before, .sslider .sslider__container .sslider__base .sslider__item::after {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 0;
          height: 100%; }
        .sslider .sslider__container .sslider__base .sslider__item img {
          display: inline-block;
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          vertical-align: middle;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          filter: alpha(opacity=0);
          -moz-opacity: 0;
          -khtml-opacity: 0;
          opacity: 0; }
      .sslider .sslider__container .sslider__base .sslider__item--single {
        width: 100%; }
    .sslider .sslider__container .sslider__base--transform {
      -webkit-transition: transform 0.3s ease-in-out;
      -moz-transition: transform 0.3s ease-in-out;
      -o-transition: transform 0.3s ease-in-out;
      transition: transform 0.3s ease-in-out; }
  .sslider .sslider__navbar {
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    margin-top: -30px;
    left: 0;
    z-index: 10; }
    .sslider .sslider__navbar .sslider__prev, .sslider .sslider__navbar .sslider__next {
      position: absolute;
      display: block;
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      cursor: hand;
      width: 30px;
      height: 60px;
      top: 0;
      text-align: center;
      line-height: 60px;
      font-size: 4rem;
      color: rgba(255, 255, 255, 0.8); }
    .sslider .sslider__navbar .sslider__prev {
      left: 0; }
    .sslider .sslider__navbar .sslider__next {
      right: 0; }
  .sslider .sslider__dots {
    text-align: center;
    font-size: 0;
    padding: 10px 0; }
    .sslider .sslider__dots .sslider__dot {
      width: 10px;
      height: 10px;
      display: inline-block;
      border: none;
      background-color: #ddd;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      margin-left: 8px;
      outline: none;
      cursor: pointer;
      box-sizing: border-box;
      line-height: 10px;
      padding: 0; }
    .sslider .sslider__dots .sslider__dot--active {
      background-color: #333; }

/*# sourceMappingURL=sslider.css.map */
